.catalog-container {
  width: 100%;                     /* למנועה קצוות*/
  min-height: 100vh;            /* גובה מינימלי של המסך */
  background-color: #121212;    /* רקע שחור */
  padding-top: 2rem;               /* בשביל להגדיר רקע של קונטיינר אפשר לעשות padding*/ 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.catalog-container.light {
  background-color: #f7f7f7;
}

.catalog-container.dark {
  background-color: rgb(5, 3, 3);
}


.catalog-title {
  font-size: 2.5rem;  
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #333;
}

.catalog-list {
  list-style: none;
  padding: 0;
}

.catalog-list li {
  font-size: 1.25rem;
  margin: 0.5rem 0;
  color: #444;
}

.add-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 0.4rem 1rem;
  background-color: #1976d2;
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.add-button:hover {
  background-color: #125ea5;
}
