.navbar {
  display: flex;
  align-items: center;
  background-color: #0d83ec;
  padding: 1rem;
  color: white;
  font-family: 'Segoe UI', sans-serif; /* גופן */
  position: relative;
  z-index: 1000;
}

.navbar-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 1rem;
}
  
.theme-icon {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
  cursor: pointer;
}
.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 0 8px;
  transition: color 0.2s ease-in-out;
}

.navbar-middle {
  display: flex;            /* חובה כדי ש-align-items ו-gap יעבדו */
  align-items: center;      /* ממרכז את האלמנטים אנכית */
  gap: 12px;                /* מרווח בין הילדים */
  margin-left: auto;        /* אם רוצים לדחוף את הקבוצה לצד ימין */
}
.navbar-right {
  margin-left: auto;
  display: flex;       
  align-items: center;
  gap: 12px;
}
.left {
  display: flex;
  justify-content: flex-start; /* יישר לשמאל */
}

.nav-link:hover {
  color: #dddddd;
}

.nav-link--active {
  color:rgb(0, 192, 182); 
  text-decoration: underline;
}

color:rgb(0, 192, 182); 