.catalog-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;         /* רק מרווח עליון ותחתון */
  gap: 20px;
  margin-left: 200px;
  max-width: 2000px;
  background-color: #121212;  
  }

  /* אופציונלי – אם רוצים להגביל רוחב */
  /* אם רוצים שהקונטיינר יתמתח לכל רוחב העמוד, פשוט תעלו או תורידו את ה־max-width */


.catalog-list li {
 
  box-sizing: border-box;
}
.catalog-list.list-dark {
  background-color:  #121212
}

.catalog-list.list-light {
  background-color:#f7f7f7;
}

